.Nav {
  display: flex;
  width: 360px;
  ul {
    width: 100%;
    margin: 0;
    font-size: 20px;
    list-style: none;
    color: blue;
    paddgin: 0;
    display: flex;
    -webkit-padding-start: 0px;
    justify-content: space-between;
    li {
      margin: 10px 0;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }
}
