.Nav {
  display: flex;
  justify-content: center;
  ul {
    margin: 0;
    paddgin: 0;
    font-size: 20px;
    list-style: none;
    display: flex;
    color: blue;
    li {
      cursor: pointer;
      margin: 20px;
    }
  }
}
